<div class="card footer">
  <h5 class="card-header"></h5>
  <div class="card-body">
    <div class="mb-3 col-12 mb-0">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item justify-content-center">
          <h5 class="ktiba">Liens Utils</h5>

          <i
            class="bx bxs-right-arrow bx-rotate-90 bx-tada"
            style="color: #f3ebeb"
          ></i>
          <a class="ktiba" href="https://www.cnopt.tn"> Retrouver une pharmacie</a>
        </div>
       
        <div class="col-sm-4 col-md-3 item justify-content-center">
            <h5 class="ktiba">Documents</h5>
  
            <i
              class="bx bxs-right-arrow bx-rotate-90 bx-tada"
              style="color: #f3ebeb"
            ></i>
            <a class="ktiba" href="">Adresse postale pour les Adhérents</a>
            <br/>
            <i
              class="bx bxs-right-arrow bx-rotate-90 bx-tada"
              style="color: #f3ebeb"
            ></i>
            <a class="ktiba"href="">Bulletin de remboursement des frais medicaux</a>
            <br/>
            <i
              class="bx bxs-right-arrow bx-rotate-90 bx-tada"
              style="color: #f3ebeb"
            ></i>
            <a class="ktiba"href="" > Fiche d'adhésion pour les agents de la MAD</a>
            <br/>
            <i
              class="bx bxs-right-arrow bx-rotate-90 bx-tada"
              style="color: #f3ebeb"
            ></i>
            <a class="ktiba" href="">Coupon tiers payant</a>
          </div>


        <div class="col-sm-4 col-md-3 item">
          <h5 class="ktiba">Contact</h5>
         
            
            <div class="demo-inline-spacing mt-3 ktiba">
              <ul class="list-group ">
                <li class="list-group-item d-flex align-items-center ktiba">
                    <i class='bx bx-phone bx-rotate-90' style='color:#FFFFFF'  ></i>
                    Prestataires de Soin:<br/> (+216) 74 400 185
                </li>
                <li class="list-group-item d-flex align-items-center ktiba">
                    <i class='bx bx-envelope' style='color:#FFFFFF' ></i>
                    &nbsp;reclamation@i-sante.tn
                </li>
                <li class="list-group-item d-flex align-items-center ktiba">
                    <i class='bx bx-building-house' style='color:#FFFFFF' ></i>
                    &nbsp;Immeuble El Rahma Bloc 1, App A2, Manar I.
                 
                </li>
               
              </ul>
           
            

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
